[submodule "contrib/deterministic-build/electrum-ltc-locale"]
	path = contrib/deterministic-build/electrum-ltc-locale
	url = https://github.com/pooler/electrum-ltc-locale
[submodule "electrum_grlc/www"]
	path = electrum_grlc/www
	url = https://github.com/pooler/electrum-ltc-http.git
[submodule "electrum_grlc/gui/kivy/theming/atlas"]
	path = electrum_grlc/gui/kivy/theming/atlas
	url = https://github.com/spesmilo/electrum-kivy-atlas
